@model string
@{
    ViewData["Title"] = "Test";
}

<h1>Send Notification To User</h1>

<form method="post">
    <input type="text" name="message" />
    <button type="submit">
        Post Notification
    </button>
</form>